.book-page {
   border: red solid 5px;
    position: relative;
    width: 50%;
    height: 500px;
    margin: 0 auto;
    perspective: 1000px; /* crea la perspectiva 3D para la animación */
 }
 
 .page-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff; /* color de fondo de la página */
    transform-origin: right center; /* establece el origen de la transformación en el borde derecho de la página */
    transition: transform 1s; /* agrega una transición de transformación */
 }
 
 .page-content:hover {
    transform: rotateY(-180deg); /* voltear la página en el eje Y */
 }
 